@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ly1zcq');
  src:  url('fonts/icomoon.eot?ly1zcq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ly1zcq') format('truetype'),
    url('fonts/icomoon.woff?ly1zcq') format('woff'),
    url('fonts/icomoon.svg?ly1zcq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-svg01:before {
  content: "\21";
}
.icon-svg03:before {
  content: "\23";
}
.icon-svg04:before {
  content: "\24";
}
.icon-svg05:before {
  content: "\25";
}
.icon-svg06:before {
  content: "\26";
}
.icon-svg07:before {
  content: "\27";
}
.icon-svg08:before {
  content: "\28";
}
.icon-svg09:before {
  content: "\29";
}
.icon-svg010:before {
  content: "\2a";
}
.icon-svg011:before {
  content: "\2b";
}
.icon-svg012:before {
  content: "\2c";
}
.icon-svg013:before {
  content: "\2d";
}
.icon-svg014:before {
  content: "\2e";
}
.icon-svg015:before {
  content: "\2f";
}
.icon-svg00:before {
  content: "\20";
}
.icon-svg016:before {
  content: "\30";
}
.icon-svg017:before {
  content: "\31";
}
.icon-svg018:before {
  content: "\32";
}
.icon-svg02:before {
  content: "\22";
}
.icon-svg020:before {
  content: "\34";
}
.icon-svg021:before {
  content: "\35";
}
.icon-svg022:before {
  content: "\36";
}
.icon-svg023:before {
  content: "\37";
}
.icon-svg024:before {
  content: "\38";
}
.icon-svg025:before {
  content: "\39";
}
.icon-svg026:before {
  content: "\3a";
}
.icon-svg027:before {
  content: "\3b";
}
.icon-svg028:before {
  content: "\3c";
}
.icon-svg029:before {
  content: "\3d";
}
.icon-svg019:before {
  content: "\33";
}
.icon-svg030:before {
  content: "\3e";
}
.icon-svg031:before {
  content: "\3f";
}
.icon-svg032:before {
  content: "\40";
}
.icon-svg033:before {
  content: "\41";
}
.icon-svg034:before {
  content: "\42";
}
.icon-svg035:before {
  content: "\43";
}
.icon-svg036:before {
  content: "\44";
}
.icon-svg037:before {
  content: "\45";
}
.icon-svg038:before {
  content: "\46";
}
.icon-svg039:before {
  content: "\47";
}
.icon-svg040:before {
  content: "\48";
}
.icon-svg041:before {
  content: "\49";
}
.icon-svg042:before {
  content: "\4a";
}
.icon-svg043:before {
  content: "\4b";
}
.icon-svg044:before {
  content: "\4c";
}
.icon-svg045:before {
  content: "\4d";
}
.icon-svg046:before {
  content: "\4e";
}
.icon-svg047:before {
  content: "\4f";
}
.icon-svg048:before {
  content: "\50";
}
.icon-svg049:before {
  content: "\51";
}
.icon-svg050:before {
  content: "\52";
}
.icon-svg051:before {
  content: "\53";
}
.icon-svg052:before {
  content: "\54";
}
.icon-svg053:before {
  content: "\55";
}
.icon-svg054:before {
  content: "\56";
}
.icon-svg055:before {
  content: "\57";
}
.icon-svg056:before {
  content: "\58";
}
.icon-svg057:before {
  content: "\59";
}
.icon-svg058:before {
  content: "\5a";
}
.icon-svg059:before {
  content: "\5b";
}
.icon-svg060:before {
  content: "\5c";
}
.icon-svg061:before {
  content: "\5d";
}
.icon-svg062:before {
  content: "\5e";
}
.icon-svg063:before {
  content: "\5f";
}
.icon-svg064:before {
  content: "\60";
}
.icon-svg065:before {
  content: "\61";
}
.icon-svg066:before {
  content: "\62";
}
.icon-svg067:before {
  content: "\63";
}
.icon-svg068:before {
  content: "\64";
}
.icon-svg069:before {
  content: "\65";
}
.icon-svg070:before {
  content: "\66";
}
.icon-svg071:before {
  content: "\67";
}
.icon-svg072:before {
  content: "\68";
}
.icon-svg073:before {
  content: "\69";
}
.icon-svg074:before {
  content: "\6a";
}
.icon-svg075:before {
  content: "\6b";
}
.icon-svg076:before {
  content: "\6c";
}
.icon-svg077:before {
  content: "\6d";
}
.icon-svg078:before {
  content: "\6e";
}
.icon-svg079:before {
  content: "\6f";
}
.icon-svg080:before {
  content: "\70";
}
.icon-svg081:before {
  content: "\71";
}
.icon-svg082:before {
  content: "\72";
}
.icon-svg083:before {
  content: "\73";
}
.icon-svg084:before {
  content: "\74";
}
.icon-svg085:before {
  content: "\75";
}
.icon-svg086:before {
  content: "\76";
}
.icon-svg087:before {
  content: "\77";
}
.icon-svg088:before {
  content: "\78";
}
.icon-svg089:before {
  content: "\79";
}
.icon-svg090:before {
  content: "\7a";
}
.icon-svg091:before {
  content: "\7b";
}
.icon-svg092:before {
  content: "\7c";
}
.icon-svg093:before {
  content: "\7d";
}
.icon-svg094:before {
  content: "\7e";
}
